{{>head}}
    {{>navbar}}
    <!--Main Header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!--Main Header Right-->
                     <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/slide2.jpg" alt="about" class="errorimg img-fluid">
                        </figure>
                    </div>
                         <!--Main Header Left-->
                     <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/">Go Back</a>
                     </div>
                     

                </div>
            </div>
        </div>
    </div>
    {{>footer}}